<div class="actions" *ngIf="selectedLanguage === 'en'">
  <div class="column-create-btn btn" (click)="onColumnCreate($event)">Create a Column</div>
  <div class="del-board-btn btn" (click)="onDeleteBoard($event)">Delete this Board</div>
</div>
<div class="actions" *ngIf="selectedLanguage === 'ru'">
  <div class="column-create-btn btn" (click)="onColumnCreate($event)">Создать список дел</div>
  <div class="del-board-btn btn" (click)="onDeleteBoard($event)">Удалить текущийплан</div>
</div>

<ul class="column-container">
  <li class="column" *ngFor="let columnTitle of columnTitles; let i = index" [id]="columnIds[i]" (dragend)="onTaskDragEnd($event)">
    <div class="title-wrapper">
      <h3>{{ columnTitles[i] }}</h3>
      <div class="column-actions">
        <div class="btn" (click)="onTaskCreate(columnIds[i])"><i class="fa-solid fa-plus"></i></div>
        <div class="btn"><i class="fa-solid fa-pen-to-square"></i></div>
        <div class="btn" (click)="onColumnDelete(columnIds[i],columnTitles[i])"><i class="fa-solid fa-trash"></i></div>
      </div>
    </div>

    <ul class="task-list" (dragover)="onDragOver($event)">
      <li class="taks" *ngFor="let taskId of taskIds[columnIds[i]]; let j = index" [id]="taskId" draggable="true" (dragstart)="onTaskDragStart($event)" [attr.data-task-title]="taskTitles[columnIds[i]][j]">
        <div class="task-title-cover">
          <input type="checkbox" name="task" [id]="pointId[taskId]" [checked]="taskStatus[taskId]" (change)="onCheckboxChange(taskTitles[columnIds[i]][j], pointId[taskId], taskStatus[taskId], $event)">
          <label [for]="pointId[taskId]">{{ taskTitles[columnIds[i]][j] }}</label>
          <!-- <div></div> -->
        </div>
        <div class="column-actions">
          <div class="btn"><i class="fa-solid fa-pen-to-square"></i></div>
          <div class="btn" (click)="deleteTask(columnIds[i],taskId,pointId[taskId])"><i class="fa-solid fa-trash"></i></div>
        </div>
      </li>
    </ul>
  </li>
</ul>

<app-popup
  *ngIf="shouldShowPopup && !shouldClosePopup "
  [popupText]="popupText"
  (closePopup)="onPopupClose()">
</app-popup>

<app-create-column
  *ngIf="shouldShowCreateColumn"
  (createClick)="onCreateClick($event)"
  (closeClick)="onCloseClick()"
  [errorText]="popupText"
  >
</app-create-column>

<app-task-creator
*ngIf="shouldShowCreateTask"
(createTaskClick)="onCreateTaskClick($event)"
(closeTaskCreator)="onCloseTaskCreator()"
></app-task-creator>

<app-confirmation-window
  *ngIf="shouldDeleteConfirm"
  [deleteConfirm]="popupText"
  (closeConfirmWindow)="onCloseConfirmWindow()"
  (actionConfirm)="onDeleteBoardConfirm()">
</app-confirmation-window>

<app-confirmation-window
  *ngIf="shouldDeleteConfirm"
  [deleteConfirm]="popupText"
  (closeConfirmWindow)="onCloseConfirmWindow()"
  (actionConfirm)="onDeleteColumnConfirm()">
</app-confirmation-window>

<!-- <app-confirmation-window
  *ngIf="shouldDeleteConfirm"
  [deleteConfirm]="popupText"
  (closeConfirmWindow)="onCloseConfirmWindow()"
  (actionConfirm)="onDeleteBoardConfirm()">
</app-confirmation-window> -->
