<div id="column-creat-btn">Create a column</div>

<ul class="columns">
  <li class="column-container">
    <div class="column">
      <div class="column-header">
        <h4 class="column-title">Column Title</h4>
        <div class="column-btns">
          <div class="add-task-btn"><i class="fa-solid fa-plus"></i></div>
          <div class="delete-column-btn"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
      <ul class="tasks">
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="1"><label for="1">To do 1</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="2"><label for="2">To do 2</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="3"><label for="3">To do 3</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="4"><label for="4">To do 4</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="5"><label for="5">To do 5</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="6"><label for="6">To do 6</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="7"><label for="7">To do 7</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="8"><label for="8">To do 8</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="9"><label for="9">To do 9</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="10"><label for="10">To do 10</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
      </ul>
    </div>
  </li>
  <li class="column-container">
    <div class="column">
      <div class="column-header">
        <h4 class="column-title">Column Title</h4>
        <div class="column-btns">
          <div class="add-task-btn"><i class="fa-solid fa-plus"></i></div>
          <div class="delete-column-btn"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
      <ul class="tasks">
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="1"><label for="1">To do 1</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="2"><label for="2">To do 2</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="3"><label for="3">To do 3</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="4"><label for="4">To do 4</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="5"><label for="5">To do 5</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="6"><label for="6">To do 6</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="7"><label for="7">To do 7</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="8"><label for="8">To do 8</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="9"><label for="9">To do 9</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="10"><label for="10">To do 10</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
      </ul>
    </div>
  </li>
  <li class="column-container">
    <div class="column">
      <div class="column-header">
        <h4 class="column-title">Column Title</h4>
        <div class="column-btns">
          <div class="add-task-btn"><i class="fa-solid fa-plus"></i></div>
          <div class="delete-column-btn"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
      <ul class="tasks">
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="1"><label for="1">To do 1</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="2"><label for="2">To do 2</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="3"><label for="3">To do 3</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="4"><label for="4">To do 4</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="5"><label for="5">To do 5</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="6"><label for="6">To do 6</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="7"><label for="7">To do 7</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="8"><label for="8">To do 8</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="9"><label for="9">To do 9</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="10"><label for="10">To do 10</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
      </ul>
    </div>
  </li>
  <li class="column-container">
    <div class="column">
      <div class="column-header">
        <h4 class="column-title">Column Title</h4>
        <div class="column-btns">
          <div class="add-task-btn"><i class="fa-solid fa-plus"></i></div>
          <div class="delete-column-btn"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
      <ul class="tasks">
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="1"><label for="1">To do 1</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="2"><label for="2">To do 2</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="3"><label for="3">To do 3</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="4"><label for="4">To do 4</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="5"><label for="5">To do 5</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="6"><label for="6">To do 6</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="7"><label for="7">To do 7</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="8"><label for="8">To do 8</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="9"><label for="9">To do 9</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="10"><label for="10">To do 10</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
      </ul>
    </div>
  </li>
  <li class="column-container">
    <div class="column">
      <div class="column-header">
        <h4 class="column-title">Column Title</h4>
        <div class="column-btns">
          <div class="add-task-btn"><i class="fa-solid fa-plus"></i></div>
          <div class="delete-column-btn"><i class="fa-solid fa-trash"></i></div>
        </div>
      </div>
      <ul class="tasks">
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="1"><label for="1">To do 1</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="2"><label for="2">To do 2</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="3"><label for="3">To do 3</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="4"><label for="4">To do 4</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="5"><label for="5">To do 5</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="6"><label for="6">To do 6</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="7"><label for="7">To do 7</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="8"><label for="8">To do 8</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="9"><label for="9">To do 9</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
        <li draggable="true" class="task">
          <div class="task-container"><input type="checkbox" name="" id="10"><label for="10">To do 10</label></div>
          <div class="delete-task-btn"><i class="fa-solid fa-trash"></i></div>
        </li>
      </ul>
    </div>
  </li>
</ul>
