<div class="column-creator">
  <h2 *ngIf="selectedLanguage === 'en'">Enter the task title</h2>
  <h2 *ngIf="selectedLanguage === 'ru'">Введите навание задание</h2>


  <form action="" (ngSubmit)="onCreateTaskClick(taskTitle)" *ngIf="selectedLanguage === 'en'">
    <input [(ngModel)]="taskTitle" name="task-title">
    <div class="err">{{ errorText }}</div>
    <button type="submit" class="column-create-btn">Create</button>
  </form>

  <form action=""  (ngSubmit)="onCreateTaskClick(taskTitle)" *ngIf="selectedLanguage === 'ru'">
    <input type="text" [(ngModel)]="taskTitle" name="task-title">
    <div class="err">{{ errorText }}</div>
    <button type="submit" class="column-create-btn">Создать</button>
  </form>

  <div class="close-btn" *ngIf="selectedLanguage === 'en'" (click)="onCloseTaskCreator()">Close</div>
  <div class="close-btn" *ngIf="selectedLanguage === 'ru'" (click)="onCloseTaskCreator()">Закрыть</div>

</div>

