<form id="login-from" *ngIf="selectedLanguage === 'en'" (submit)="onSubmit(loginField.value, passwordField.value, $event)">
  <div>
    <label for="login">Login</label><br>
    <input type="text" id="login" #loginField>
  </div>
  <div>
    <label for="password">Password</label><br>
    <input type="password" id="password" #passwordField>
    <div class="err"></div>
  </div>
  <button type="submit" class="login-submit-btn">Login</button>
</form>

<form id="login-from" *ngIf="selectedLanguage === 'ru'" (submit)="onSubmit(loginField.value, passwordField.value, $event)">
  <div>
    <label for="login">Имя пользователя</label><br>
    <input type="text" id="login" #loginField>
  </div>
  <div>
    <label for="password">Пароль</label><br>
    <input type="password" id="password" #passwordField>
    <div class="err"></div>
  </div>
  <button type="submit" class="login-submit-btn">Войти</button>
</form>

<app-popup
  *ngIf="shouldShowPopup && !shouldClosePopup"
  [popupText]="popupText"
  (closePopup)="onPopupClose()">
</app-popup>
