<header id="header">

  <h1><a href="/main"><span><i class="fa-solid fa-list-check"></i></span> PlanIt</a></h1>

  <div>
    <div *ngIf="!localStorage.getItem('userLogin')">

      <div class="auth">
        <a href="/login" *ngIf="selectedLanguage === 'en'" class="sing-in-btn login-btn">Log In</a>
        <a href="/login" *ngIf="selectedLanguage === 'ru'" class="sing-in-btn login-btn">Войти</a>

        <a href="/signup" *ngIf="selectedLanguage === 'en'" class="login-btn">Sign up</a>
        <a href="/signup" *ngIf="selectedLanguage === 'ru'" class="login-btn">Зарегестрироваться</a>
      </div>
    </div>

    <div *ngIf="localStorage.getItem('userLogin')">

      <div class="auth">
        <a href="/" *ngIf="selectedLanguage === 'en'" id="create-btn">Create new board</a>
        <a href="/" *ngIf="selectedLanguage === 'ru'"id="create-btn">Создать новый план</a>

        <a href="/edit-profile" *ngIf="localStorage.getItem('userLogin')">{{ localStorage.getItem('userLogin') }}</a>

        <div *ngIf="selectedLanguage === 'en'" (click)="logout()" class="logout-btn">LogOut</div>
        <div *ngIf="selectedLanguage === 'ru'" (click)="logout()" class="logout-btn">Выйти</div>

      </div>
    </div>
    <div id="lang">
      <input type="radio" name="language" [(ngModel)]="selectedLanguage" value="en" id="en" checked (change)="onCheckboxChange($event)">
      <label for="en">en</label>
      <input type="radio" name="language" [(ngModel)]="selectedLanguage" value="ru" id="ru" (change)="onCheckboxChange($event)">
      <label for="ru">ru</label>
    </div>
  </div>


</header>

