@mixin my-flexbox
  display: flex
  justify-content: space-between
  align-items: center

header
  width: 100%
  @include my-flexbox
  div
    @include my-flexbox

a
  color: #fff
  text-decoration: none

.sing-in-btn
  margin-right: 15px

#header.scroll
  background: #ff4081
  position: fixed
  top: 0

#lang
  margin-right: 10px
  label
    margin-right: 5px
    cursor: pointer
  [type="radio"]
    display: none
    &:checked + label
      color: #ffeb3b
