<ul class="board-container">
  <li class="board"><a href="/board">Board one</a></li>
  <li class="board"><a href="/board">Board two</a></li>
  <li class="board"><a href="/board">Board three</a></li>
  <li class="board"><a href="/board">Board four</a></li>
  <li class="board"><a href="/board">Board five</a></li>
  <li class="board"><a href="/board">Board one</a></li>
  <li class="board"><a href="/board">Board two</a></li>
  <li class="board"><a href="/board">Board three</a></li>
  <li class="board"><a href="/board">Board four</a></li>
  <li class="board"><a href="/board">Board five</a></li>
  <li class="board"><a href="/board">Board one</a></li>
  <li class="board"><a href="/board">Board two</a></li>
  <li class="board"><a href="/board">Board three</a></li>
  <li class="board"><a href="/board">Board four</a></li>
  <li class="board"><a href="/board">Board five</a></li>
  <li class="board"><a href="/board">Board one</a></li>
  <li class="board"><a href="/board">Board two</a></li>
  <li class="board"><a href="/board">Board three</a></li>
  <li class="board"><a href="/board">Board four</a></li>
  <li class="board"><a href="/board">Board five</a></li>
</ul>
