@import './../../sass/_variables'
@import './../../sass/_mixins'

.board-container
  list-style: none
  margin-top: 60px
  @include my-flexbox
  flex-wrap: wrap

.board
  background: #fff
  width: 80%
  margin: 15px auto
  border: 1px solid $primary
  border-radius: 2px
  cursor: pointer
  h4
    background: $primary
    color: #fff
    font-weight: 600
    padding: 10px
    text-align: center
  .board-info
    @include my-flexbox
    padding: 5px 10px
  .board-author
    font-weight: 600
  a
    color: $primary
    font-size: 24px
    &:hover
      transform: scale(1.1)
    &:active
      color: $yellow
