<ul class="board-container">
  <li class="board">
    <h4 class="board-title">This board was created by me now </h4>
    <div class="board-info">
      <div>Created by <span class="board-author">Author</span></div>
      <a href="/board"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
  </li>
  <li class="board">
    <h4 class="board-title">This board was created by me now </h4>
    <div class="board-info">
      <div>Created by <span class="board-author">Author</span></div>
      <a href="/board"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
  </li>
  <li class="board">
    <h4 class="board-title">This board was created by me now </h4>
    <div class="board-info">
      <div>Created by <span class="board-author">Author</span></div>
      <a href="/board"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
  </li>
  <li class="board">
    <h4 class="board-title">This board was created by me now </h4>
    <div class="board-info">
      <div>Created by <span class="board-author">Author</span></div>
      <a href="/board"><i class="fa-solid fa-pen-to-square"></i></a>
    </div>
  </li>
</ul>
