@import './../../sass/_variables'
@import './../../sass/_mixins'

.board-container
  list-style: none
  margin-top: 60px
  @include my-flexbox
  flex-wrap: wrap

.board
  @include my-flexbox()
  background: #fff
  width: 80%
  margin: 15px auto
  border: 1px solid $primary
  border-radius: 2px
  background: $primary
  padding: 10px 15px
  h4
    color: #fff
    font-weight: 600
    text-align: center
  a
    display: inline-block
    cursor: pointer
    color: #fff
    font-size: 24px
    &:hover
      transform: scale(1.1)
    &:active
      color: $yellow
