<h2 *ngIf="selectedLanguage === 'en'">Create a profile</h2>
<h2 *ngIf="selectedLanguage === 'ru'">Создать профиль</h2>

<form id="login-from-en" class="login-from"
  *ngIf="selectedLanguage === 'en'"
  (submit)="onSubmit(nameField.value, loginField.value, passwordField.value, $event)">
  <div>
    <label for="user-name">Name</label><br>
    <input type="text" id="user-name" #nameField>
    <div
      class="err"
      [ngClass]="{'err-visible': !inputValidationService.isNameValid}">
      {{ nameErr }}
    </div>
  </div>
  <div>
    <label for="login">Login</label><br>
    <input type="text" id="login" #loginField>
    <div class="err"
      [ngClass]="{'err-visible': !inputValidationService.isLoginValid}">
      {{ loginErr }}
    </div>
  </div>
  <div>
    <label for="password">Create your password</label><br>
    <input type="text" id="password" #passwordField>
    <div class="err"
      [ngClass]="{'err-visible': !inputValidationService.isPasswordValid}">
      {{ passwordErr }}
    </div>
  </div>
  <button class="login-submit-btn" type="submit">Sign Up</button>
</form>

<form id="login-from-ru" class="login-from"
  *ngIf="selectedLanguage === 'ru'"
  (submit)="onSubmit(nameField.value, loginField.value, passwordField.value, $event)">
  <div>
    <label for="user-name">Имя</label><br>
    <input type="text" id="user-name" #nameField>
    <div class="err"
      [ngClass]="{'err-visible': !inputValidationService.isNameValid}">
      {{ nameErr }}
    </div>
  </div>
  <div>
    <label for="login">Имя пользователя</label><br>
    <input type="login" id="login" #loginField>
    <div class="err"
      [ngClass]="{'err-visible': !inputValidationService.isLoginValid}">
      {{ loginErr }}
    </div>
  </div>
  <div>
    <label for="password">Создать пароль</label><br>
    <input type="text" id="password" #passwordField>
    <div class="err"
      [ngClass]="{'err-visible': !inputValidationService.isPasswordValid}">
      {{ passwordErr }}
    </div>
  </div>
  <button class="login-submit-btn" type="submit">Sign Up</button>
</form>

<app-popup
  *ngIf="shouldShowPopup && !shouldClosePopup"
  [popupText]="popupText"
  (closePopup)="onPopupClose()">
</app-popup>
