<div class="app-descr container">
  <h2><span class="logo"><span><i class="fa-solid fa-list-check"></i></span> {{title}}</span> is a Project Management System</h2>
  <div>PlanIt is the ultimate task management app that helps you stay organized and on top of your to-do list. With PlanIt, you can easily create boards and lists to categorize your tasks and manage your projects. Whether you're planning a vacation, organizing your work tasks, or just keeping track of your daily chores, PlanIt makes it easy to stay on top of everything.</div>
  <div>Creating boards and lists with PlanIt is quick and easy. Simply create a board for each project or task, then add lists of tasks within each board. You can easily edit, delete or move tasks between lists.</div>
  <div>With PlanIt, you can finally say goodbye to messy to-do lists and hello to streamlined task management.</div>
  <mat-card class="sign-up-call">
    <mat-card-content>
      <h3>Get work done on time, all the time!</h3>
      <p>Sign up today and start organizing your life!</p>
      <a mat-flat-button color="accent" href="/signup">Sign up</a>
    </mat-card-content>
  </mat-card>
</div>
